<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}$$$$APP_NAME$$$${% endblock %}</title>
	<meta name="description" content="Description" />
	<meta name="author" content="" />
	<meta name="Copyright" content="Copyright 2010. All Rights Reserved." />
    <link rel="stylesheet" href="/static/css/reset.css" media="all" />
    <link rel="stylesheet" href="/static/css/core.css" media="all" />
    {% block head %}{% endblock %}
</head>

<body>
	{% block body %}
	{% endblock %}
</body>
</html>
